profiles {
    slurm {
        slurm.enabled          = true
        singularity.enabled    = true
        params.enable_conda    = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}

process {
    executor = 'slurm'
    queueSize = 15
    pollInterval = '5 min'
    dumpInterval = '6 min'
    queueStatInterval = '5 min'
    exitReadTimeout = '13 min'
    killBatchSize = 30
    submitRateLimit = '20 min'
    
    // Global account setting
    clusterOptions = '--account=def-shreejoy'
    
    // Default process label
    label = 'process_default'

    withLabel:cellranger_level {
        cpus = 16
        memory = '64.GB'
        time = '10.h'
    }
    
    withLabel:cellbender_level {
        gpu = 1
        cpus = 4
        memory = '64.GB'
        time = '4.h'
    }

    withLabel:curiotrekker_level {
        cpus = 16
        memory = '32.GB'
        time = '36.h'
    }
    
    withLabel:process_default {
        cpus = 4
        memory = '16.GB'
        time = '2.h'
    }
    
}